<h1>New rider_registration</h1>

<p> Registering <%= @rider.name %>, license number <%= @rider.license_numebr %>  </p>

<%= simple_form_for @rider_registration do |f| %>
    f.collection :race, collection => @races, as => :checkboxes



<%= link_to 'Back', rider_registrations_path %>
