<%= form_for :rider_database, :url=>{:controller=>"riders", :action=>"upload"}, :html => { :multipart => true } do |f| %>
<table>
  <tr>
    <td>
     <label for="rider_database_file">
       Select a CSV File :
     </label>
    </td>
    <td >
      <%= f.file_field :file -%>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <%= submit_tag 'Submit' -%>
    </td>
  </tr>
</table>
<% end -%>